---
import { nav } from "../constant";
import ButtonSmall from "./ButtonSmall.astro";
import { Menu } from "astro-feather-icons";
interface Props {
  class?: string;
  logoNav?: string;
  width?: number;
  height?: number;
  ariaLabel?: string;
  bg?: string;
}

const { class: className, logoNav, width, height, ariaLabel, bg } = Astro.props;
---

<header role="banner" class="banner d-flex">
  <a href="/">
    <img src={logoNav} width={width} height={height} alt="Logo principal" />
  </a>

  <nav class:list={["nav", bg]} aria-label={ariaLabel}>
    <ul role="list" class=`nav__list d-flex ${className}`>
      {
        nav.map((item) => {
          return (
            <li class="size--1">
              <a class="px-space-xs py-space-2xs" href={item.href}>
                {item.target}
              </a>
            </li>
          );
        })
      }
      <li>
        <ButtonSmall
          target="Log in"
          dataSmall="blue-white"
          ariaLabel="Log in"
          }
        />
      </li>
    </ul>
  </nav>
  <Menu size="32" class="relative" id="burguer" />
</header>

<script>
  const burguer = document.getElementById("burguer");
  const nav = document.querySelector(".nav");
  burguer.addEventListener("click", () => {
    nav.classList.toggle("show");
  });

  const itemNav = document.querySelectorAll(".nav__list li a");
  itemNav.forEach((link) => {
    if (link.href === window.location.href) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
