---
import { nav } from "../constant";
import ButtonSmall from "./ButtonSmall.astro";
interface Props{
class?:string;
logoNav?:string
width?:string
height?:string
ariaLabel:string
}

const { class: className,logoNav, width, height,ariaLabel } = Astro.props;
---

<header role="banner">
  <nav class="nav pt-space-xl" aria-label={ariaLabel}>
    <a href="/"
      >
      <img src={logoNav} width={width} height={height} alt="Logo principal" /></a
    >
    <ul role="list" class=`nav__list ${className}`>
      {
        nav.map((item) => {
          return (
            <li class="size--1">
              <a class="px-space-xs py-space-2xs" href={item.href}>
                {item.target}
              </a>
            </li>
          );
        })
      }
      <li>

        <ButtonSmall
          target="Log in"
          dataSmall="blue-white"
          ariaLabel="Log in"
         
          }
        />
      </li>
    </ul>
  </nav>
</header>

<script>
  const itemNav = document.querySelectorAll(".nav__list li a");
  itemNav.forEach((link) => {
    if (link.href === window.location.href) {
      link.setAttribute("aria-current", "page");
    }
  });
</script>
